* {
    margin:0;
    padding:0;
    border:0;
}
body {
	background-color:#000000;
	color:white;
	font-family:"Segoe UI",arial,sans-serif;
	font-size:13px;
}
#content {
	background:url(images/bk-1.jpg) no-repeat;
	width:900px;
	margin: auto;
}
#logo a {
	position:absolute;
	margin-top:20px;
	margin-left:10px;
	background:transparent url(images/uv.png) no-repeat;
	height:75px;
	width:240px;
    color:transparent;
}
#menu {
	float:left;
	border-left:1px dashed #FFFFFF;
	margin-left:110px;
	margin-top:150px;
	margin-bottom:75px;
	height:215px;
	width:189px;
}
#menu ul {
    list-style: none;
}
#menu a {
	position:absolute;
	margin-left:16px;
	color:white;
	font-family:"Century Gothic",arial,sans-serif;
	font-size:23px;
	font-weight:lighter;
}
#menu a:hover {
	color:#fd3a3a;
}
#menu a.news {
	margin-top:12px;
	transform:rotate(5deg);
}
#menu a.music {
	margin-top:61px;
	transform:rotate(-2deg);
}
#menu a.bio {
	margin-top:115px;
	transform:rotate(4deg);
}
#menu a.other {
	margin-top:167px;
	transform:rotate(-9deg);
}
main {
	float:right;
	margin-right:69px;
	padding-top:110px;
	width:529px;
	min-height:330px;
	border-left:1px dashed #444444;
	border-right:1px dashed #444444;
}
.feed {
    padding:0 20px 20px 20px;
    overflow:hidden;/*own block formatting context*/
}
p {
    margin-top:1em;
    margin-bottom:1em;
}
h1 {
	font-size:1.6em;
	background-color:#000000;
	margin-bottom:20px;
	padding:0;
	opacity:0.7;
	text-align:center;
}
h2 {
	font-size:1.3em;
	font-weight:normal;
    margin-bottom:0.83em;
	padding-bottom:3px;
	border-bottom:1px solid #CCCCCC;
}
.medium {
	font-weight:bold;
}
a img {
	margin-right:10px;
	margin-bottom:10px;
	border:0;
	float:left;
}
a:link, a:visited, a:active {
	border:none;
	color:#99CCFF;
	text-decoration:none;
}
a:hover {
	color:#FD3a3a;
}
.red {
	color:red;
}
.text-center {
    text-align:center;
}
.heading {
	font-size:1.2em;
	font-weight:bold;
}
a.heading:hover {
	color:#FFFFFF;
}
.release {
    margin:10px;
    margin-bottom:12px;
    padding:8px;
}
.release .cover img {
    margin:0;
}
.release .info {
    margin-left:183px;
}
.release .info span.released {
    font-size: 0.8em;
}
.release .info ol {
    margin: 1em;
}
.release .info .track {
    font-size: 1.2em;
    margin-top: 0.7em;
    margin-bottom: 0.2em;
}
table.portraits {
	margin:auto;
}
.portraits td {
    padding:5px;
    width:120px;
    text-align:center;
}
.portraits img {
	border:1px solid #050505;
}
.copyright {
	clear:both;
	padding:10px;
	text-align:center;
	font-size:smaller;
}
.contact {
	background:url(images/uv-contact.png) no-repeat scroll right center;
	height:22px;
	padding-right:130px;
}
img.song_thumb {
	width:150px;
	height:150px;
	border:1px solid #FFFFFF;
	float:right;
}
img.cd {
	background:url(images/jewelcase.png) no-repeat scroll 0 0;
	padding:4px 4px 4px 13px;
}
